<!DOCTYPE html>
<html>
  <head>
    <title>The Bulldog</title>
    <link href="/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container clearfix">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>