
<div class="header"><p>Welcome to the Winston Churchill quote generator</p></div>

<div class="message"><%= @quote %></div>
<div class="right-content">
	 <img src="<%= @image %>">
    <div class="button">
    	 <a href="/"> 
      <p>Click to refresh</p>
    </div>
  </a>
</div>