
body {
  background-color: #95837B;
  background-image: url('headline/try2.jpg');
  font-family: helvetica, arial, sans-serif;
  color: #0A0045;
}



.header {
  position: absolute;
  width: 100%;
/*  margin-left: -7px;*/
  top: 0px;
/*  background: url('headline/heath.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
  z-index: 100;
  text-align: center;
  font-family: 'Germania One', Arial;
  text-shadow: 1px 1px 1px black;
  color: #CC8214;
  font-size: 50px;
}

.message {
  color: white; 
  margin-top: 200px; 
  float: left;
  width: 48%;
  font-family: palatino, arial;
  font-size: 35px;
}


.gif {
  float: right;
  width: 48%;
  vertical-align: bottom;
}

.img img{
  height: 450px;
  width: 400px;
}

.img {
  margin-top: 200px;
  text-align: center;

}
a {
  color: #CC8214;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.quote {
  margin-bottom: 30px;
}

.size {
  position: absolute;
  z-index: 1;
  display: inline-block;
}
.button {
  background-image: url('headline/flag.png');
  width: 250px;
  height: 60px;
  font-family: 'Germania One', Arial;
  border-radius: 25px;
  padding-top: 10px;
  text-align: center;

}

.button:hover {
  opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}